<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>Diabetes Generator</title>
  </head>

  <body>
      <img src="../static/img/hilal.png"/>
      <button class="check_btn" role="button" onclick="location.href='{{ url_for('homepage') }}'">
        Check Your Status!
      </div>
</body>
</html>
